body {
    background: #c6faf1;
  }
.penguin{
    height: 500px;
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 30px;
    position: relative;
    display: block;
}
.penguin * {
    position: absolute;
  }
.penguin-top{
    top: 10%;
    left: 25%;
    background: blanchedalmond;
    width: 50%;
    height: 43%;
    border-radius: 120px 120px 100px 100px;
}
.penguin-bottom{
    width: 53%;
    height: 45%;
    background-color: blanchedalmond;
    top: 40%;
    left: 23.5%;
    border-radius: 100px 100px 120px 120px;
}
.right-hand{
    top: 0%;
    left: -20%;
    background:black;
    height: 60%;
    width: 30%;
    border-radius: 60px 60px 120px 20px;
    transform: rotate(50deg);
}
.left-hand{
    background: black;
    height: 60%;
    width: 30%;
    top: 0%;
    left: 90%;
    transform: rotate(-50deg);
    border-radius: 60px 60px 20px 120px;
}